[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pytest-cov = "*"
isort = "*"

[packages]
requests = "*"
boto3 = "*"
pydantic = "*"

[requires]
python_version = "3.8"

[scripts]
isort = "isort . -c"
test = "pytest --cov=auto-labeling-pipeline --cov-report=term-missing -vv"
flake8 = "flake8 auto-labeling-pipeline --ignore=F401,E741"
