[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pytest-cov = "*"
isort = "*"
mypy = "*"
vcrpy = "*"

[packages]
requests = "*"
boto3 = "*"
pydantic = "*"
jinja2 = "*"
joblib = "*"
typing-extensions = "*"

[requires]
python_version = "3.8"

[scripts]
isort = "isort . -c"
test = "pytest tests --cov=auto_labeling_pipeline --cov-report=term-missing -vv"
flake8 = "flake8 auto_labeling_pipeline --ignore=F401,E741"
mypy = "mypy auto_labeling_pipeline"
