[
  {% for entity in input.entities %}
    {% set outer_loop = loop %}
    {% for mention in entity.mentions %}
      {% if (mention.type != 'COMMON') and (mention.text.content == entity.name) %}
        {%- set start_offset = mention.text.beginOffset -%}
        {%- set end_offset = start_offset + mention.text.content|length -%}
        {
          "label": "{{ entity.type }}",
          "start_offset": {{ start_offset }},
          "end_offset": {{ end_offset }}
        }{% if not outer_loop.last %},{% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
]
